<html>
	<head></head>

	<body>

		<form>
			<input type="text" name="guess" />

			<input type="submit" value="Guess!" />
		</form>

		<p>
			Looks like your guess was <%= guess =>
		</p>
	</body>
</html>

